<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
 
  <li>
    <button type="button" class="btn btn-info btn-lg" (click)="openModalDialog()">Open Login Modal Dialog!</button> 
   </li>
</ul>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModel()"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">
        <form [formGroup]="profileForm">
  
          <label>
            First Name:
            <input type="text" formControlName="name" >
          </label>
          <span *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
              Mobile is required.
            </span>
         
          <label>
            Age:
            <input type="text" formControlName="age">
          </label>

          <label>
            Gender:
            <input type="text" formControlName="gender">
          </label>
        
        </form>
      </div>

      <!-- modal-footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="updateProfile()"  [disabled]="!profileForm.valid">Save</button>
          <button type="button" class="btn btn-default" (click)="closeModel()" >Close</button>
        
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
